.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.login__icon {
    width: 80px;
    border-radius: 50%;
}

.login__title {
    font-weight: 300;
    font-size: 1.5rem;
}