:root,
[data-theme="light"] {
  --background: #faeee7;
  --headline: #33272a;
  --button: #ff8ba7;
  --button-text: #33272a;
  --p: #594a4e;
}

[data-theme="dark"] {
  --background: #16161a;
  --headline: #fffffe;
  --p: #94a1b2;
  --button: #7f5af0;
  --button-text: #fffffe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background);
  transition: background-color .3s ease;
  color: var(--p);
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3 {
  color: var(--headline);
}

p {
  color: var(--p);
}

button {
  background: var(--button);
  color: var(--button-text);
}

button:hover {
  border: 1px solid var(--button);
  color: var(--button);
  background-color: var(--background);
  cursor: pointer;
}

a {
  text-decoration: none;
}