.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 70px;
    position: relative;
}

.nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #333;
    background-image: linear-gradient(to right, #333 0%, #fff 100%);
}

.nav__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav__right__ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav__right__ul li {
    color: var(--headline);
    font-size: 1.1rem;
    font-weight: 600;
    transition: all .4s ease;
}

.nav__right__ul :first-child li {
    background-color: var(--button-text);
    color: var(--button);
    border-radius: 8px;
    padding: 3px 8px;
    line-height: 30px;
    transition: all .4s ease;
  }

.nav__right__ul :first-child li:hover {
    color: var(--background)
  }

.nav__right__ul :last-child li {
    border: 1px solid var(--headline);
    padding: 3px 8px;
    border-radius: 8px;
    line-height: 30px;
}

.nav__right__ul li:hover {
    color: var(--button);
}

.nav__right__ul-button {
    color: var(--headline);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 30px;
    transition: all .4s ease;
    border: 1px solid var(--headline);
    background: transparent;
    padding: 3px 8px;
    border-radius: 8px;
}

.nav__mobile-button {
    display: none;
}

.nav__mobile__container-hidden {
    display: none;
}




@media screen and (min-width: 426px) {
    .nav__mobile__container {
        display: none;
    }
}

@media screen and (max-width: 725px) {
    .nav__right__ul {
        gap: 15px;
    }
}

@media screen and (max-width: 425px) {
    .nav__right {
        display: none;
    }
    
    .nav__mobile-button {
        display: block;
        z-index: 999;
        color: var(--headline);
    }

    .nav__mobile-button > svg {
        margin-left: 10px;
    }

    .nav__mobile__container {
        display: block;
        position: absolute;
        background-color: var(--background);
        z-index: 888;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
    }

    .nav__mobile__ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }

    .nav__mobile__ul :first-child li {
        background-color: var(--button-text);
        color: var(--button);
        border-radius: 8px;
        padding: 10px 12px;
      }

    .nav__mobile__ul li {
        padding: 10px 12px;
        background-color: var(--button);
        color: var(--button-text);
        border-radius: 8px;
        width: 150px;
        text-align: center;
        text-transform: uppercase;
    }
    .nav__mobile__ul-button {
        padding: 10px 12px;
        background-color: var(--button);
        color: var(--button-text);
        border-radius: 8px;
        width: 150px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        font-size: 1rem;
        border: none;
    }
}

